# Dependencies
node_modules
**/node_modules

# Build outputs
**/dist
**/build
**/.next
**/.turbo

# Development files
.git
.github
.vscode
**/.env.local
**/.env.development.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

# System files
.DS_Store
*/.DS_Store

# Mobile specific
**/android/app/build
**/ios/Pods
**/ios/build
